/* .content {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
} */

.container {
  width: 3fr;
  height: 100vh;

  display: grid;
  /* used arbitrary units of measurement to mimic wireframe */
  grid-template: 10% auto 20% / 1fr 3fr;
}

.header {
  background-color: #d55e00;
  grid-column: auto / span 2;
}

.nav {
  background-color: #f0e442;
  grid-row: auto / span 2;
}

.footer {
  background-color: #009e73;
  grid-column: auto / span 2;
}